// -----------------------------------------------------------------------------
// MAIN // To modify go to index and home
// -----------------------------------------------------------------------------
.cabinet-main {
  div {
    padding: 2em 1.5em;
    border: none;
    box-shadow: 0em 0em 0.5em rgba(73, 72, 72, 0.541);
  }
}

// -----------------------------------------------------------------------------
// CAROUSEL
// -----------------------------------------------------------------------------
.carousel {
  margin: 4em auto;
  h2 {
    margin: 1.5em;
  }
}

/* Slideshow container */
.slideshow-container {
  max-width: 60em;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  margin: auto;
  img {
    max-height: 25em;
    width: 100%;
    object-fit: cover;
  }
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 0.2em 0 0 0.2em;
}

/* On hover, add a black background color with a little bit see-through */
@include media(desktop) {
  .prev:hover,
  .next:hover {
    transform: scale(102%);
    background-color: rgba(61, 59, 59, 0.199);
  }
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 1em;
  width: 1em;
  margin: 0 0.2em;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover,
.dot.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

// -----------------------------------------------------------------------------
// GOOGLE MAPS
// -----------------------------------------------------------------------------
.contact-container {
  max-width: 95%;
  margin: 4em auto;
  h2 {
    margin: 1em;
  }
}

.contact-grid {
  display: grid;
  @include media(tablet) {
    grid-template-columns: 1.3fr 1fr;
    gap: 1.5em;
  }
  article {
    h4 {
      text-align: left;
    }
  }
}

.googlemap {
  iframe {
    width: 100%;
    height: 20em;
    @include media(tablet) {
      height: 40em;
    }
  }
}

.address-container {
  margin: 1em auto;
  line-height: 1.1em;
  div {
    margin: 1.5em 0em 0em 0em;
    p {
      line-height: 1em;
    }
    p:nth-of-type(1) {
      text-decoration: underline;
    }
  }
  .btn--filled {
    margin-left: 0;
  }
}

.block-access {
  display: flex;
  figure {
    width: 2em;
    height: auto;
    margin: 0.2em;
    img {
      object-fit: cover;
      width: 100%;
    }
  }
}

.access-container {
  margin: 2.5em auto;
  @include flex-wrap(wrap, flex-start);
  gap: 1em;
  h4 {
    width: 100%;
  }
  .contact-clic {
    width: 100%;
    color: gray;
    margin-top: -2em;
    margin-bottom: 0em;
    font-size: 0.8em;
  }
  article {
    max-width: 15em;
    div {
      min-width: 12em;
    }
  }
}