// -----------------------------------------------------------------------------
// This file contains styles that are specific to the contact page.
// -----------------------------------------------------------------------------
.gmap{
    display: grid;
    
}



.contact-doctolib-width{
    width: 20vw;
}

.home-main-container h4
{
    margin-top: 500px;
}