// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.home-main-container {
  background: url(../img/home-hero-image.webp) 100% no-repeat fixed;
  background-size: 100%;
  text-align: center;
  padding: 1.5em;
  h3 {
    margin: 0.5em 0em;
  }
  div {
    line-height: 1em;
    color: $primary-color;
    margin: 2em auto;
  }
}

.home-faq-container {
  @include flex-wrap(wrap, space-evenly);
  h2 {
    padding: 0.5em;
  }
  article {
    max-width: 30em;
    margin: 0;
    > ul > li {
      margin-top: 2em;
      &::marker {
        color: $primary-color;
      }
    }
    h4 {
      text-align: left;
    }
  }
}

.list-inside {
  li {
    margin-left: 2em;
  }
}

.home-image-wrapper {
  background: $fourth-color;
  text-align: center;
  padding: 4em;
  margin: 0em;
}

.home-image-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13em, 1fr));
  justify-content: space-around;
  gap: 2em;
  li {
    list-style: none;
    position: relative;

    h4 {
      background: rgba($secondary-color, 0.6);
      padding: 1.2em;
      position: absolute;
      top: 10em;
      width: 100%;
    }
    p {
      color: $primary-color;
    }
    img,
    figure {
      height: 469px;
      object-fit: cover;
      object-position: 50% 50%;
      width: 100%;
    }
  }
}

.home-team-container {
  @include flex-wrap(wrap, center);
  gap: 2em;
  padding-top: 2em;
  text-align: center;
  li {
    list-style: none;
    h5 {
      font-size: 1.4em;
      margin-bottom: 0.5em;
      @include headingstyle(normal, h4);
    }
    p {
      max-width: 10em;
      margin: auto;
    }
  }
}
