.members-intro {
  margin: 4em 0em;
  @include flex-wrap(wrap, center);
  @include media(desktop) {
    gap: 3em;
  }
  article {
    padding: 0.5em 0em;
    @include media(desktop) {
      max-width: 40%;
    }
    h3 {
      margin: 0.5em 0em;
    }
    p {
      margin: 0.5em 0em;
    }
  }
  figure {
    width: 21em;
    @include media(desktop) {
      width: 30em;
    }
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.members-disease-list {
  margin: 1.5em 0em;
  list-style: none;
  text-align: left;
  h5 {
    text-align: left;
  }
}

// -----------------------------------------------------------------------------
// ACCORDION MEMBERS-DISEASE-LIST START
// -----------------------------------------------------------------------------
.accordion {
  background: white;
  border-bottom: 0.05em solid $primary-color;
  cursor: pointer;
  padding: 1em;
  margin: 0em;
  width: 100%;
  outline: none;
  transition: 0.4s;
  @include media(desktop) {
    max-width: 70%;
    margin: auto;
    &:hover {
      color: $secondary-color;
      background: $primary-color;
    }
  }
}

.active {
  color: $secondary-color;
  background: $primary-color;
}

.panel {
  @include flex-wrap(wrap, center);
  padding: 0em 1em;
  background: $secondary-color;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  @include media(desktop) {
    max-width: 70%;
    margin: auto;
  }
  figure {
    max-width: 18em;
    img {
      width: 100%;
      margin-top: 1em;
      object-fit: cover;
      box-shadow: 0 0 0.5em grey, 0.1em 0.1em 1em 1em white;
    }
  }
  p {
    @include media(tablet) {
      max-width: 50%;
      margin: auto;
      @include media(desktop) {
        max-width: 60%;
      }
    }
  }
}

//add icons
.accordion::after {
  content: "\232A"; /* Unicode character for "plus" sign (+) */
  @include headingstyle(extra-bold, p);
  color: $primary-color;
  float: right;
  margin-left: 0.3em;
}

.accordion.active:after {
  content: "\FE40";
  color: $secondary-color;
}

// -----------------------------------------------------------------------------
// ACCORDION MEMBERS-DISEASE-LIST END
// -----------------------------------------------------------------------------

.members-button {
  @include flex-wrap(wrap, center, center);
  text-align: center;
  flex-direction: column;
  align-items: center;
}
