// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer {
  background: $primary-color;
  color: $secondary-color;
  margin: 7em -2em 0em -2em;
  padding: 2em;
}

.footer-content {
  display: flex;
  @include flex-wrap(wrap, space-around, center);
  article {
    width: 25em;
    text-align: left;
  }
  h4 {
    color: $secondary-color;
    text-align: left;
    padding: 0.5em 0em;
    text-transform: uppercase;
  }
  p {
    margin: 0.5em 0em;
    line-height: 1.8em;
    a {
      color: $secondary-color;
    }
  }
  figure {
    img {
      max-width: 20em;
    }
  }
}

.phone-number {
  cursor: pointer;
  text-decoration: underline;
}