// nav {
//   position: sticky;
//   top: 0px;
// }

.contact-bar {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  background: $secondary-color;
}

.nav-bar {
  background: $primary-color;
  text-align: center;
  li {
    font-weight: map-get($map: $fontweights, $key: normal);
    a {
      color: $secondary-color;
      &:hover {
        @include hover($text-color, $primary-color);
      }
    }
  }
}