// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
%btn {
  color: white;
  background: $third-color;
  padding: 0.7em 3em;
  margin: 1em;
  display: inline-block;
}

.btn--filled {
  @extend %btn;
  &:hover {
    @include hover($secondary-color, #6dd8c5);
  }
}

.btn--empty {
  @extend %btn;
  @include hover($third-color, $secondary-color);
}
