// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin headingstyle($weight, $size, $transform: null) {
  font-weight: map-get($map: $fontweights, $key: $weight);
  font-size: map-get($map: $fontsizes, $key: $size);
  text-transform: $transform;
}

@mixin hover($color, $background-color) {
  color: $color;
  background: $background-color;
  transform: scale(104%);
  transition-duration: 0.5s;
}

@mixin flex-wrap($wrap, $justify-content, $align-items: null) {
  display: flex;
  flex-wrap: $wrap;
  justify-content: $justify-content;
  $align-items: $align-items;
}

@mixin media($breakpoint) {
  @if $breakpoint==tablet {
    @media only screen and (min-width: 599px) {
      @content;
    }
  }
  @if $breakpoint==desktop {
    @media only screen and (min-width: 900px) {
      @content;
    }
  }
}

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

/// Make a context based selector a little more friendly
/// @author Kitty Giraudel
/// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}
