// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// fonts
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$heading-font-stack: 'Poppins', sans-serif;

// font size
$fontsizes: (
    "h1": 2.5em,
    "h2": 1.5em,
    "h3": 1.4em,
    "h4": 1.2em,
    "h5": 1.1em,
    "p": 1em,
    "small": 0.8em,
  );
$fontweights: (
    "extra-bold": 600,
    "bold": 500,
    "normal": 400,
    "semi-light": 300,
    "light": 200,
  );

// colors
$primary-color: #0063A0;
$secondary-color: #ffffff;
$fourth-color: linear-gradient(340deg, $primary-color, white);
$text-color: #3c4549;

