// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// fonts
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$heading-font-stack: 'Poppins', sans-serif;

// font size
$fontsizes: (
    "h1": 3em,
    "h2": 2.5em,
    "h3": 1.7em,
    "h4": 1.2em
  );
$fontweights: (
    "bold": 600,
    "semi-bold": 500,
    "normal": 400,
    "light": 200
  );

// colors
$primary-color: #0063A0;
$secondary-color: #ffffff;
$third-color: #01C5A2;
$fourth-color: #F5FDFC;
$text-color: #666666;


/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;
